<html>
	<head>
	<title>My Profile</title>
	</head>
	<body>
	<h1>Andy Ko</h1>
	<img />
	<p> I am an undergraduate senior at <a href = "https://hunter.cuny.edu/">Hunter College</a>. I am majoring in Computer Science and minoring in Sociology. I have experience with C++, Java, JavaScript, HTML5, CSS, PHP, and Python.
	</p>
	<ul>Contact Information
		<li>Hunter Email: <a href="mailto:Andy.ko16@myhunter.cuny.edu" target="_top">Andy.ko16@myhunter.cuny.edu</a></li>
		<li>Phone: (712) 992-3178</li>
		<li><a href="https://www.linkedin.com/in/andy-ko-969920175/>">Linkedin</a>
	</ul>
	
	<ul>Related Links
		<li><a href="https://github.com/Andyko16">GitHub profile</a></li>
		<li><a href="{{url_for('accounts')}}">To-Do App</a></li>
	</ul>
	
	</body>
</html>